{% extends 'base.html.twig' %}
        {% block body %}
<div>
<!-- Button trigger modal --> 

<!-- Modal -->
<div class="modal  d-block" id="welcome1" tabindex="-1" role="dialog" aria-labelledby="welcome1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-0">
      <div class="welcome-box">
        <h3>Welcome to ALTOGETHR</h3>
        <p>This is the main screen where most of your activity will happen.</p>
        <p> Let’s get started by adding a job.  You can add one that you’ve already applied to or one that you’re interested in applying to ( saved job ). <a href="#"> Click here to get started.</a></p>
      </div>
    </div>
  </div>
</div>

<!--Section Inner Main End--> 
<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script src="js/jquery-3.2.1.slim.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
</div>
{% endblock %}